---

import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const identity = {
firstName: "Winnie",
  country: "Kenya",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
}

const skills = ["HTML", "css", "Accessibility", "Astro", "Javascript"]

const happy= true;
const finished = false;
const goal = 3;
---

<Layout title="about">
<nav>
    <Navigation />
</nav>


<main>
    <h1> Introduction to Astro</h1>
    <p>my new astro site. Yay!</p>
    <p> I am testing my journey with Astro </p>
    <section>
        <h2>Here are a few facts about me:</h2>
         <ul>
            <li>My name is {identity.firstName} </li>
            <li>I live in {identity.country} and I work as a {identity.occupation}</li>
            <li>My hobbies are {identity.hobbies} </li>
            <li>I am skilled at:
                <ul>
                    {skills.map((skill)=> <li>{skill}</li>)}
                </ul>
            </li>
            <li>
                <p>What I am currently feeling: </p>
                {happy && <p>I am happy to be learning Astro</p>}
                {finished && <p>I finished this tutorial</p>}
                {goal === 3 ? <p> Myy goal is to finish in 3 days.</p> : <p>My goals is not 3 days</p>}
            </li>
         </ul>
    </section>
</main>

<footer>
</footer>
</footer>






</Layout>

